* {
  font-family: 'Nunito';
}
h1, p {
    color: #EEEEEE;
}
body {
  background-color: rgb(30, 30, 30);
}
button {
  background: purple;
  color: #eee;
}

a {
    color: rgb(81, 120, 95);
}
a:hover {
  color: rgb(208, 161, 255);
}
a:visited {
  color: red;
}
table, tr, th, td, caption {
    border: 1px solid #eee;
    color: white;
    border-collapse: collapse;
    padding: 0.5rem;
}
li {
    color: white;
}
